<div class="card">
  <header class="card-header p-3 mb-2 bg-secondary text-white">
    <div class="column">
        <p class="text-white"></p>
        <a href="/post/{{id}}"  class="text-white fs-5">{{title}}  </a></p>
    </div>
  </header>

    <div class="card-content">
        <div class="content p-3">
            {{content}}
        </div>
            <div class="d-flex justify-content-end p-2 text-right">
                <b> {{user.username}} </b>| {{format_date created_at}} |  <a href="/post/{{id}}"> {{comments.length}} {{format_plural " Comment" comments.length}} </a>
            </div>
    
    </div>
</div>